.footer {
  background: #111;
  color: #FFFFFF;
  padding: 50px 80px 20px 48px;
  font-family: "Ubuntu", sans-serif;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  width: 85%;
  margin: auto;
   margin-top: 120px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  margin: auto;
}

.footer-logo {
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  background: linear-gradient(180deg, #FFFFFF, #D22525);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 15px;
}

.footer-col h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 30px;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
  letter-spacing: 0.1cap;
}

.footer-col ul li:hover {
  color: #ff6a5c;
}

.footer p {
  font-size: 14px;
  line-height: 1.5;
  color: #655F5F;
  font-style: italic;
  max-width: 700px;
}

.footer-bottom {
  border-top: 1px solid #ddcbcb;
  text-align: center;
  font-size: 12px;
  color: #aaa;

}

.footer-last{
align-items: center !important;
text-align: center !important;
max-width: 100% !important;
}

/* ✅ Responsive design */
@media (max-width: 992px) {
  .footer {
    width: 90%;
    padding: 40px 30px;
  }

  .footer-container {
    gap: 40px;
  }

  .footer-logo {
    font-size: 32px;
  }

  .footer-col h3 {
    font-size: 20px;
  }

  .footer p {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .footer {
    width: 95%;
    padding: 10px;
    text-align: center;
  }

  .footer-container {
   
 
    gap: 5px;
  }

  .footer-col h3 {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .footer-col ul li {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .footer p {
    font-size: 14px;
    max-width: 100%;
  }

  .footer-logo {
    font-size: 28px;
  }
}
